# Google Sheet Web App Deployment URL (Paste your Google Apps Script URL here)
VITE_GOOGLE_SHEET_URL=https://script.google.com/macros/s/AKfycbwzQ971x6FJyTRdqSYx7tN7-ZcOP-_yeqNCMSw2YrFK2zNnbFJfcjVEci92Ro_izolOnA/exec

# Official Flatzy Kolkata WhatsApp Contact Number (without +, e.g. 918910376054)
VITE_WHATSAPP_NUMBER=918910376054
